input{
    height:40px;
    width:300px;

    border-radius: 6px;
    border: 1px solid rgba(87, 85, 85, 0.856);
    width: 300px;
    margin-bottom: 10px;
    max-width: 100%;
}

input::placeholder{
    font-size: 15px;
    color: blueviolet;
    padding-left: 10px;
}

.login-button{
    padding: 10px;
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
    background-color: rgb(166, 176, 182);
    font-size: 15px;
}