.ToDoItem{
    background-color: grey;
    display: inline-flex;
    width:100%;
    padding: 0.5rem;
    margin-bottom: 10px;
}
.title{
    display: contents;
    /* display: inline-block;*/
     text-align: left; 
    flex: 100;
    padding-left: 0px;
    /* margin-top:20px;
    margin-left:-800px;
    margin-right:600px;
    margin-bottom: 20px; */
    font-size: 25px; 
}

.remove-button{
    font-size: 20px;
    position: absolute;
    right:140px;
    /* top:100px;  */
}
.completed-button{
    font-size: 20px;
    position: absolute;
    right:290px;
    /* top:100px;  */
}
.no-msg{
    font-size: 25px;
    color: rgb(128, 34, 17);
}

