.ToDoItem{
    background-color: grey;
    display: inline-flex;
    width:100%;
    padding: 0.5rem;
    margin-bottom: 10px;
    content: normal;
}
.title{
    display: contents;
    text-align:right;
    padding-left: 0px;
    overflow: hidden;
    font-size: 25px; 
    text-overflow: ellipsis;
    flex-direction: row;
    max-width: 100%;
    word-break:break-all;
}

.remove-button{
    margin-left: auto;
    height: 50px;
    line-height: normal;  
    align-self:center; 
}

.completed-button{
    margin-left:.5%;
    height: 50px;
    line-height: normal;
    align-self:center; 
}

.no-msg{
    font-size: 25px;
    color: rgb(128, 34, 17);
}

